@{
    ViewData["Title"] = "Home Page";
}


<h1>Personal Portfolio</h1>


<ul class="list-group">
    <li class="list-group-item">
        <sp class="badge ts">TS</sp>
        <span class="badge react">React Js</span>
        <span class="badge dotnet">Asp Net</span>
        <span class="badge vue">MsSql</span>
        <br /><br />
        <p data-toggle="collapse" data-target="#bachelor">Lab Course 1 </p>
        <a href="https://github.com/drincerkini/Lab-Course-1" target="#" class="gitLink">Lab Course 1</a>

        <div >
            <img src="~/css/images/lab1.png" height="200px" width="300px"/>
            <img src="~/css/images/lab2.png" height="200px" width="300px"/>
            <img src="~/css/images/lab3.png" height="200px" width="300px"/>
            <img src="~/css/images/lab4.png" height="200px" width="300px"/>
            <img src="~/css/images/lab5.png" height="200px" width="300px"/>
            <img src="~/css/images/lab6.png" height="200px" width="300px"/>
        </div>
    </li>

    <li class="list-group-item">
        <span class="badge html">HTML5</span>
        <span class="badge css">CSS3</span>
        <span class="badge js">JavaScript</span>
        <span class="badge php">Php</span>
        <span class="badge sql">MySql</span>
        <br /><br />
        <p data-toggle="collapse" data-target="#bachelor">Web Engineering Project </p>
        <a href="https://github.com/drincerkini/Projekti_Web" target="#">GitHub Link</a>

        <div >
            <img src="~/css/images/web1.png" height="200px" width="300px" />
            <img src="~/css/images/web2.png" height="200px" width="300px"/>
            <img src="~/css/images/web3.png" height="200px" width="300px"/>
            <img src="~/css/images/web4.png" height="200px" width="300px"/>
            <img src="~/css/images/web5.png" height="200px" width="300px"/>
            <img src="~/css/images/web6.png" height="200px" width="300px"/>
        </div>
    </li>

    <li class="list-group-item">
        <span class="badge react">React Js</span>
        <br /><br />
        <p data-toggle="collapse" data-target="#bachelor">First React Mini Project </p>
        <a href="https://github.com/drincerkini/First-Project-with-React-js" target="#">GitHub Link</a>

        <div >
            <img src="~/images/bach.png" height="200" title="Screenshot tool" alt="Screenshot tool">
            <img src="~/images/bach.png" height="200" title="Screenshot tool" alt="Screenshot tool">
            <img src="~/images/bach.png" height="200" title="Screenshot tool" alt="Screenshot tool">
        </div>
    </li>

    <li class="list-group-item">
        <span class="badge dotnet">Asp DotNet</span>
        <br /><br />
        <p data-toggle="collapse" data-target="#bachelor">First Mini Project in Asp DotNet </p>
        <p data-toggle="collapse" data-target="#bachelor"><a href="https://github.com/drincerkini/aspdotnet_first_project" target="#">GitHub Link</a> </p>
        

        <div >
            <img src="~/images/bach.png" height="200" title="Screenshot tool" alt="Screenshot tool">
            <img src="~/images/bach.png" height="200" title="Screenshot tool" alt="Screenshot tool">
            <img src="~/images/bach.png" height="200" title="Screenshot tool" alt="Screenshot tool">
        </div>
    </li>

    <li class="list-group-item">
        <span class="badge react">Vue Js</span>
        <br /><br />
        <p data-toggle="collapse" data-target="#bachelor">First Vue Mini Project </p>
        <a href="https://github.com/drincerkini/Vue-learning" target="#">GitHub Link</a>

        <div >
            <img src="~/images/bach.png" height="200" title="Screenshot tool" alt="Screenshot tool">
            <img src="~/images/bach.png" height="200" title="Screenshot tool" alt="Screenshot tool">
            <img src="~/images/bach.png" height="200" title="Screenshot tool" alt="Screenshot tool">
        </div>
    </li>
    
</ul><br />
<h4>Languages</h4>
<hr />

<div class="progress">
    <div class="progress-bar java" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>Java</p>

<div class="progress">
    <div class="progress-bar js" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>JavaScript</p>

<div class="progress">
    <div class="progress-bar csh" role="progressbar" style="width: 55%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>C#</p>

<div class="progress">
    <div class="progress-bar dotnet" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>DotNet</p>

<div class="progress">
    <div class="progress-bar react" role="progressbar" style="width: 30%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>React</p>

<div class="progress">
    <div class="progress-bar vue" role="progressbar" style="width: 20%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>Vue</p>

<div class="progress">
    <div class="progress-bar html" role="progressbar" style="width: 80%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>CSS/HTML</p>

<div class="progress">
    <div class="progress-bar php" role="progressbar" style="width: 40%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>Php</p>

<div class="progress">
    <div class="progress-bar sql" role="progressbar" style="width: 60%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>Sql</p>

<br />


<h4>Tools</h4>
<p>GitHub, Visual Studio Code, Microsoft Visual Studio</p>
