@{
    ViewData["Title"] = "Home Page";
}

<section class="container">
    <div class="half-width">
        <h1>Welcome to <span class="purple-color">Drin Cerkini</span> world</h1>
        <h3>Building Climber and Train Stopper</h3>
        <p>You might saw me jumping, climbing buildings, and stopping trains. But nobody pays me a dime for that work. That's why I am learning and mastering web development. I will not stop until I become the Web Development Hero.</p>
        <a class="primary-btn" href="#">Hire Me</a>
    </div>

    <div class="half-width">
        <img class="side-img" src="~/css/img/profile.png" alt="">
    </div>
</section>

<section class="container">
    <div class="half-width">
        <img class="side-img" src="~/css/img/working.png">
    </div>

    <div class="half-width">
        <h2>BIG DREAM</h2>
        <h4>Become a web developer</h4>
        <p> I already learned the basic HTML and CSS. I can build any simple website. I can even teach my grandma how to make simple website. My goal is to build 3 websites and learn advanced topics.
        </p>
        <a class="primary-btn" href="#">Download CV</a>
    </div>
</section>


<section class="container experiences">
    <h2>Projects</h2>
    <hr  width="50px" />


    <div class="experience-item">
        <h3>Full Stack Web Application</h3>
        <p class="purple-color">
            <span class="badge ts">TS</span>
            <span class="badge react">React Js</span>
            <span class="badge dotnet">Asp Net</span>
            <span class="badge vue">MsSql</span>
        </p>
        
        <p>I am the master of HTML, CSS and Javascript. I know everything needed to make a website function, efficient. I didn't stop with the web. I went beyond with most popular Javascript framework called Vue JS. I even know the deployment, server and security. I will give you 100% web solution.</p>
        <a href="https://github.com/drincerkini/Lab-Course-1" target="#" class="gitLink">Visit in Github</a>
    </div>

    <div class="experience-item">
        <h3>Full Stack E-Commerce Store</h3>
        <p class="purple-color">
            <span class="badge html">HTML5</span>
            <span class="badge css">CSS3</span>
            <span class="badge js">JavaScript</span>
            <span class="badge php">Php</span>
            <span class="badge sql">MySql</span>
        </p>
        
        <p>I am the master of HTML, CSS and Javascript. I know everything needed to make a website function, efficient. I didn't stop with the web. I went beyond with most popular Javascript framework called Vue JS. I even know the deployment, server and security. I will give you 100% web solution.</p>
        <a href="https://github.com/drincerkini/Lab-Course-1" target="#" class="gitLink">Visit in Github</a>
    </div>


    <div class="experience-item">
        <h3>First ASP DotNet Project</h3>
        <p class="purple-color">
            <span class="badge dotnet">Asp DotNet</span>
            <span class="badge vue">MsSql</span>  
        </p>
        
        <p>I am the master of HTML, CSS and Javascript. I know everything needed to make a website function, efficient. I didn't stop with the web. I went beyond with most popular Javascript framework called Vue JS. I even know the deployment, server and security. I will give you 100% web solution.</p>
        <a href="https://github.com/drincerkini/Lab-Course-1" target="#" class="gitLink">Visit in Github</a>
    </div>

    <div class="experience-item">
        <h3>First React Js Project</h3>
        <p class="purple-color">
            <span class="badge react">React JS</span>    
        </p>
        
        <p>I am the master of HTML, CSS and Javascript. I know everything needed to make a website function, efficient. I didn't stop with the web. I went beyond with most popular Javascript framework called Vue JS. I even know the deployment, server and security. I will give you 100% web solution.</p>
        <a href="https://github.com/drincerkini/Lab-Course-1" target="#" class="gitLink">Visit in Github</a>
    </div>

    <div class="experience-item">
        <h3>First Vue Js Project</h3>
        <p class="purple-color">
            <span class="badge vue">Vue JS</span> 
        </p>
        
        <p>I am the master of HTML, CSS and Javascript. I know everything needed to make a website function, efficient. I didn't stop with the web. I went beyond with most popular Javascript framework called Vue JS. I even know the deployment, server and security. I will give you 100% web solution.</p>
        <a href="https://github.com/drincerkini/Lab-Course-1" target="#" class="gitLink">Visit in Github</a>
    </div>


</section>



<hr />

<section>
    <h4>Languages</h4>
    <hr />

    <div class="progress">
        <div class="progress-bar java" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p>Java</p>

    <div class="progress">
        <div class="progress-bar js" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p>JavaScript</p>

    <div class="progress">
        <div class="progress-bar csh" role="progressbar" style="width: 55%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p>C#</p>

    <div class="progress">
        <div class="progress-bar dotnet" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p>DotNet</p>

    <div class="progress">
        <div class="progress-bar react" role="progressbar" style="width: 30%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p>React</p>

    <div class="progress">
        <div class="progress-bar vue" role="progressbar" style="width: 20%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p>Vue</p>

    <div class="progress">
        <div class="progress-bar html" role="progressbar" style="width: 80%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p>CSS/HTML</p>

    <div class="progress">
        <div class="progress-bar php" role="progressbar" style="width: 40%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p>Php</p>

    <div class="progress">
        <div class="progress-bar sql" role="progressbar" style="width: 60%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p>Sql</p>

    <br />


    <h4>Tools</h4>
    <p>GitHub, Visual Studio Code, Microsoft Visual Studio</p>

    <br />
    <br />

</section>

<footer>
    <p>© Drin Cerkini 2022, a Programming Hero initiative.</p>
</footer>
