@{
    ViewData["Title"] = "Home Page";
}

<section class="container">
            <div class="half-width">
                <h1>Welcome to <span class="purple-color">Drin Cerkini</span> world</h1>
                <h3>Building Climber and Train Stopper</h3>
                <p>You might saw me jumping, climbing buildings, and stopping trains. But nobody pays me a dime for that work. That's why I am learning and mastering web development. I will not stop until I become the Web Development Hero.</p>
                <a class="primary-btn" href="#">Hire Me</a>
            </div>
            <div class="half-width">
                <img class="side-img" src="~/css/img/profile.png" alt="">
            </div>
        </section>
        <section class="container">
            <div class="half-width">
                <img class="side-img" src="~/css/img/working.png">
            </div>
            <div class="half-width">
                <h2>BIG DREAM</h2>
                <h4>Become a web developer</h4>
                <p> I already learned the basic HTML and CSS. I can build any simple website. I can even teach my grandma how to make simple website. My goal is to build 3 websites and learn advanced topics.
                </p>
                <a class="primary-btn" href="#">Download CV</a>
            </div>
        </section>


        <section class="container experiences">
            <h2>Experience</h2>
            <hr  width="50px" />
            <div class="experience-item">
                <h3>Full Stack Web Developer</h3>
                <p class="purple-color">2020 - Present | Pro Level Developer</p>
                <sp class="badge ts">TS</sp>
                <span class="badge react">React Js</span>
                <span class="badge dotnet">Asp Net</span>
                <span class="badge vue">MsSql</span>
                <p>I am the master of HTML, CSS and Javascript. I know everything needed to make a website function, efficient. I didn't stop with the web. I went beyond with most popular Javascript framework called Vue JS. I even know the deployment, server and security. I will give you 100% web solution.</p>
            </div>
            <div class="experience-item">
                <h3>Baby Web Developer</h3>
                <p class="purple-color">2019 - 202 | Programming Hero (Remote)</p>
                <p>They didn't offer me a job. But I made myself as a remove web developer. I made their website and showed it to them. They liked it. And uploaded the content. It was fun working at Programming Hero.
                </p>
            </div>

        <ul class="list-group">
            <li class="list-group-item">
                <sp class="badge ts">TS</sp>
                <span class="badge react">React Js</span>
                <span class="badge dotnet">Asp Net</span>
                <span class="badge vue">MsSql</span>
                <br /><br />
                <p data-toggle="collapse" data-target="#bachelor">Lab Course 1 </p>
                <a href="https://github.com/drincerkini/Lab-Course-1" target="#" class="gitLink">Lab Course 1</a>

               @* <div >
                    <img src="~/css/images/lab1.png" height="200px" width="300px"/>
                    <img src="~/css/images/lab2.png" height="200px" width="300px"/>
                    <img src="~/css/images/lab3.png" height="200px" width="300px"/>
                    <img src="~/css/images/lab4.png" height="200px" width="300px"/>
                    <img src="~/css/images/lab5.png" height="200px" width="300px"/>
                    <img src="~/css/images/lab6.png" height="200px" width="300px"/>
                </div>*@
            </li>

            <li class="list-group-item">
                <span class="badge html">HTML5</span>
                <span class="badge css">CSS3</span>
                <span class="badge js">JavaScript</span>
                <span class="badge php">Php</span>
                <span class="badge sql">MySql</span>
                <br /><br />
                <p data-toggle="collapse" data-target="#bachelor">Web Engineering Project </p>
                <a href="https://github.com/drincerkini/Projekti_Web" target="#">GitHub Link</a>

                @*<div >
                    <img src="~/css/images/web1.png" height="200px" width="300px" />
                    <img src="~/css/images/web2.png" height="200px" width="300px"/>
                    <img src="~/css/images/web3.png" height="200px" width="300px"/>
                    <img src="~/css/images/web4.png" height="200px" width="300px"/>
                    <img src="~/css/images/web5.png" height="200px" width="300px"/>
                    <img src="~/css/images/web6.png" height="200px" width="300px"/>
                </div>*@
            </li>

            <li class="list-group-item">
                <span class="badge react">React Js</span>
                <br /><br />
                <p data-toggle="collapse" data-target="#bachelor">First React Mini Project </p>
                <a href="https://github.com/drincerkini/First-Project-with-React-js" target="#">GitHub Link</a>

                @*<div >
                    <img src="~/images/bach.png" height="200" title="Screenshot tool" alt="Screenshot tool">
                    <img src="~/images/bach.png" height="200" title="Screenshot tool" alt="Screenshot tool">
                    <img src="~/images/bach.png" height="200" title="Screenshot tool" alt="Screenshot tool">
                </div>*@
            </li>

            <li class="list-group-item">
                <span class="badge dotnet">Asp DotNet</span>
                <br /><br />
                <p data-toggle="collapse" data-target="#bachelor">First Mini Project in Asp DotNet </p>
                <p data-toggle="collapse" data-target="#bachelor"><a href="https://github.com/drincerkini/aspdotnet_first_project" target="#">GitHub Link</a> </p>
        

               @* <div >
                    <img src="~/images/bach.png" height="200" title="Screenshot tool" alt="Screenshot tool">
                    <img src="~/images/bach.png" height="200" title="Screenshot tool" alt="Screenshot tool">
                    <img src="~/images/bach.png" height="200" title="Screenshot tool" alt="Screenshot tool">
                </div>*@
            </li>

            <li class="list-group-item">
                <span class="badge react">Vue Js</span>
                <br /><br />
                <p data-toggle="collapse" data-target="#bachelor">First Vue Mini Project </p>
                <a href="https://github.com/drincerkini/Vue-learning" target="#">GitHub Link</a>

               @* <div >
                    <img src="~/images/bach.png" height="200" title="Screenshot tool" alt="Screenshot tool">
                    <img src="~/images/bach.png" height="200" title="Screenshot tool" alt="Screenshot tool">
                    <img src="~/images/bach.png" height="200" title="Screenshot tool" alt="Screenshot tool">
                </div>*@
            </li>
    
        </ul><br />


</section>



<hr />


<h4>Languages</h4>
<hr />

<div class="progress">
    <div class="progress-bar java" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>Java</p>

<div class="progress">
    <div class="progress-bar js" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>JavaScript</p>

<div class="progress">
    <div class="progress-bar csh" role="progressbar" style="width: 55%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>C#</p>

<div class="progress">
    <div class="progress-bar dotnet" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>DotNet</p>

<div class="progress">
    <div class="progress-bar react" role="progressbar" style="width: 30%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>React</p>

<div class="progress">
    <div class="progress-bar vue" role="progressbar" style="width: 20%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>Vue</p>

<div class="progress">
    <div class="progress-bar html" role="progressbar" style="width: 80%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>CSS/HTML</p>

<div class="progress">
    <div class="progress-bar php" role="progressbar" style="width: 40%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>Php</p>

<div class="progress">
    <div class="progress-bar sql" role="progressbar" style="width: 60%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>Sql</p>

<br />


<h4>Tools</h4>
<p>GitHub, Visual Studio Code, Microsoft Visual Studio</p>

<br />
<br />

<footer>
            <p>© Drin Cerkini 2022, a Programming Hero initiative.</p>
</footer>
